input {
    width: 25%;
    height: 35px;
}

#createSetPokemon {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#containerSetNewPokemon {
    padding: 0;
    #setFilter{
        margin: 40px 0;
        input {
            margin-right: 56px;
        }
    }
}