<div *ngIf="noDetails">
<div class="col-xl-12" id="containerFilterPokemon">
    <p>Filtra y busca el nombre en la Pokedex, también puedes filtrar por su tipo</p>
    <div id="setFilter">
        <input type="text" name="FilterPokemon" id="FilterPokemon" [(ngModel)]="filterPokemon" placeholder="Filtrado pokemon nombre">
        <input type="text" name="FilterPokemonType" id="FilterPokemonType" [(ngModel)]="filterPokemonType" placeholder="Filtrado pokemon tipo">
        <select name="miselect" [(ngModel)]="filterPokemonType">
            <option [value]="list" *ngFor="let list of listTypes">{{list}}</option>
        </select>
    </div>
</div>

<div class="col-xl-12">
    <h3>Listado Pokémon</h3>
    <hr>
</div>

<table class="table table-bordered table-hover" *ngFor="let item of resultPokemonArray | searchPoke: filterPokemon | searchPokeType: filterPokemonType">
    <thead>
      <tr>
        <th width="10" scope="col">Nombre</th>
        <th width="10" scope="col">Imagen</th>
        <th width="10" scope="col">Nº Pokedex</th>
        <th width="10" scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
        <tr (click)="getPokeID(item)">
            <td>{{item.name}}</td>
            <td><img src="{{item.image}}" alt=""></td>
            <td>{{item.position}}</td>
            <td>{{item.type}}</td>
        </tr>
    </tbody>
</table>
</div>