<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <app-poke-header></app-poke-header>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <p id="addPokemonTitle">Añade tu Pokemon</p>
      <app-create-your-pokemon></app-create-your-pokemon>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <app-poke-component></app-poke-component>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<audio autoplay src="../assets/audio.mp3"></audio>
