<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"><a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/210115/817cd2b3eac7cbed0ebacc9e4b8b63e5.png" alt="pokemon-font" border="0" width="40%"></a></span>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <p id="addPokemonTitle">Añade tu Pokemon</p>
      <app-create-your-pokemon></app-create-your-pokemon>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <app-poke-component></app-poke-component>
    </div>
  </div>
</div>
<audio autoplay src="../assets/audio.mp3"></audio>
