<div class="container" style="margin-top: 25px; text-align: center;">
    <div class="row">
        <button (click)="backToHome()"> -> ¡Pincha aquí y vuelve a Pueblo Paleta!</button>
    </div>
    <div class="row">
        <div class="col-xl-12" *ngFor="let detail of pokemon">
            <h1>{{detail.name}}</h1>
            <img src="{{detail.image}}" alt="{{detail.name}} es tipo `{{detail.type}}`">
            <p><strong>First ability:</strong> &nbsp; <i>{{detail.abilities}}</i></p>
        </div>
    </div>
</div>